<fieldset class="ui-widget ui-widget-content ui-corner-all" >
<legend class="ui-widget ui-widget-header ui-corner-all">Mensura: <%= @mensura.try(:mensura_nro) %>-<%= @mensura.try(:mensura_letra) %></legend>
<p id="notice"><%= notice %></p>
  <table>
    <tbody> 
      <tr>
        <% if @mensura.rectificacion_id %>
          <th>
            Rectifica a la Mensura N°:   
          </th>
          <td>
            <%= @mensura.try(:rectificacion).try(:mensura_nro) %>
          </td>
        <%end%>
        <th>
          Localidad:
        </th>
        <td>
          <%= @mensura.localidad.try(:descripcion) if @mensura.localidad_id %>&nbsp;&nbsp;
        </td>
        <th>
          Jurisdiccion:
        </th>
        <td>
          <%= @mensura.jurisdiccion.descripcion %>&nbsp;&nbsp;
        </td>
        <th>
          Calle o Paraje:
        </th>
        <td>
          <%= @mensura.calle.try(:upcase) %>&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <th>
          Iniciador:
        </th>
        <td>
          <%= @mensura.iniciador.try(:razon_social).try(:upcase) %>&nbsp;&nbsp;  
        </td>
        <th>
          Fecha de Registración:
        </th>
        <td>
          <%= l @mensura.fecha_registracion %>&nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <th>
          Propietario/Poseedor:
        </th>
        <td>
          <%= @mensura.propietario.try(:upcase) %>&nbsp;&nbsp;
        </td>
        <th>
          Expediente N°:
        </th>
        <td>
          <%= @mensura.expediente.try(:nro_expediente) %>&nbsp;&nbsp;  
        </td>
        <th>
          Fecha de las Operaciones:
        </th>
        <td>
          <%= l @mensura.fecha_operaciones %>  &nbsp;&nbsp;
        </td>
      </tr>
      <tr>
        <th>
          Objeto:    
        </th>
        <td>
          <%= @mensura.objetos_mensura.try(:descripcion) %>&nbsp;&nbsp;  
        </td>
        <th>
          Agrimensor Visador:
        </th>
        <td>
          <%= @mensura.visador.try(:apellido).try(:upcase) %>&nbsp;&nbsp;
        </td>
      </tr> 
      <tr>
        <td>
         <%= link_to image_tag("edit"), edit_mensura_path(@mensura) %> |
         <%= link_to image_tag("back"), mensuras_path %>
        </td>
        <td style="text-align: center">
          <%= link_to 'Reporte Alta', mensura_path(@mensura, :format => :pdf), class: "submit ui-button ui-widget ui-state-default ui-corner-all", target:"_blank" %>
        </td> 
      </tr>                  
      


</fieldset>

