<%= form_for(visador) do |f| %>
  <% if visador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(visador.errors.count, "error") %> prohibited this visador from being saved:</h2>

      <ul>
      <% visador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <table id="form-horizontal">
    <tbody>
      <tr>
        <th>      
          Apellido:          
        </th>
        <td>
          <%= f.text_field :apellido %>&nbsp;&nbsp;
        </td>
        <th>
          Nombre:
        </th>
        <td>
          <%= f.text_field :nombre %>&nbsp;&nbsp;  
        </td>
        <th>
          Tipo Documento:
        </th>
        <td>
          <%= f.select :tipo_documento_id, options_for_select(TipoDocumento.all.order(:descripcion).map{|j| [j.descripcion, j.id] }), prompt: "-- Seleccione --" %>&nbsp;&nbsp;
        </td>
        <th>
          Número:
        </th>
        <td>
          <%= f.text_field :documento %>&nbsp;&nbsp;  
        </td>
      </tr>
      <tr>        
        <th>
          Matrícula:
        </th>
        <td>
          <%= f.text_field :matricula %>&nbsp;&nbsp;  
        </td>
        <th>
          Zona N°:
        </th>
        <td>
          <%= f.number_field :zona %>&nbsp;&nbsp;  
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: center">
      <input class="submit ui-button ui-widget ui-state-default ui-corner-all" name="commit" type="submit" value="Guardar" role="button" aria-disabled="false">&nbsp; &nbsp;
  </div>
<% end %>
