<fieldset class="ui-widget ui-widget-content ui-corner-all" >
<legend class="ui-widget ui-widget-header ui-corner-all">Agrimensor Visador</legend>
<p id="notice"><%= notice %></p>

<table class="listado" id="form-horizontal">
  <thead>
    <tr class="ui-widget-header listadoTitulo">
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Tipos documento</th>
      <th>Documento</th>
      <th>Matricula</th>
      <th>Zona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visadores.each do |visador| %>
      <tr class="<%= cycle('par','impar') %>">
        <td><%= visador.apellido.upcase %></td>
        <td><%= visador.nombre.upcase %></td>
        <td><%= visador.tipo_documento.try(:descripcion_corta) %></td>
        <td><%= visador.documento %></td>
        <td><%= visador.matricula %></td>
        <td><%= visador.zona %></td>
        <td><%= link_to image_tag("zoom.png"), visador %></td>
        <td><%= link_to image_tag("edit.png"), edit_visador_path(visador) %></td>
        <td><%= link_to image_tag("delete.png"), visador, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este visador?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= will_paginate @visadores %><br>
<%= link_to 'Nuevo Visador', new_visador_path, class: "submit ui-button ui-widget ui-state-default ui-corner-all" %>
