<p id="notice"><%= notice %></p>

<h1>Visadores</h1>

<table>
  <thead>
    <tr>
      <th>Apellido</th>
      <th>Nombre</th>
      <th>Tipos documento</th>
      <th>Documento</th>
      <th>Matricula</th>
      <th>Zona</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visadores.each do |visador| %>
      <tr>
        <td><%= visador.apellido %></td>
        <td><%= visador.nombre %></td>
        <td><%= visador.tipos_documento %></td>
        <td><%= visador.documento %></td>
        <td><%= visador.matricula %></td>
        <td><%= visador.zona %></td>
        <td><%= link_to 'Show', visador %></td>
        <td><%= link_to 'Edit', edit_visador_path(visador) %></td>
        <td><%= link_to 'Destroy', visador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visador', new_visador_path %>
