<fieldset class="ui-widget ui-widget-content ui-corner-all" >
<legend class="ui-widget ui-widget-header ui-corner-all">Agrimensor Actuante</legend>
<p id="notice"><%= notice %></p>

<p>
  <strong>Apellido:</strong>
  <%= @visador.apellido.upcase %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @visador.nombre.upcase %>
</p>

<p>
  <strong>Tipos documento:</strong>
  <%= @visador.tipos_documento.try(:descripcion_corta) %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @visador.documento %>
</p>

<p>
  <strong>Matricula:</strong>
  <%= @visador.matricula %>
</p>

<p>
  <strong>Zona:</strong>
  <%= @visador.zona %>
</p>

<%#= link_to 'Edit', edit_visador_path(@visador) %> 
<%#= link_to 'Back', visadores_path %>
</fieldset>