<%= form_for(propiedad) do |f| %>
  <% if propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
  <table id="form-horizontal">
    <tbody>
      <legend class="ui-widget ui-widget-header ui-corner-all"> Propiedad </legend>
      <table>
        <tr>
          <th>
            <%= f.label :zona_id %>      
          </th>
          <td>
            <%= f.number_field :zona_id %>
          </td>
          <th>
            <%= f.label :jurisdiccion_id %>      
          </th>
          <td>  
            <%= text_field_tag :jurisdiccion, propiedad.jurisdiccion.try(:descripcion) %>
          </td>
          <th>
            <%= f.label :localidad_id %>      
          </th>
          <td>  
            <%= text_field_tag :localidad, propiedad.localidad.try(:descripcion) %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :tipo_propiedad_id %>      
          </th>
          <td>
            <%= f.number_field :tipo_propiedad_id %>
          </td>
          <th>
            <%= f.label :agua_cte %>      
          </th>
          <td>  
            <%= f.check_box :agua_cte %>
          </td>
          <th>
            <%= f.label :cloaca %>      
          </th>
          <td>
            <%= f.check_box :cloaca %>
          </td>
        </tr>  
        <tr>
          <th>
            <%= f.label :piso %>      
          </th>
          <td>
            <%= f.text_field :piso %>
          </td>
          <th>
            <%= f.label :departamento %>      
          </th>
          <td>
            <%= f.text_field :dpto %>
          </td>
          <th>
            <%= f.label :cantidad_ocupantes %>      
          </th>
          <td>
            <%= f.number_field :cantidad_ocupantes %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :propiedad_block_id %>      
          </th>
          <td>
            <%= f.number_field :propiedad_block_id %>
          </td>
          <th>
            <%= f.label :coeficiente_prorrateo %>      
          </th>
          <td>
            <%= f.number_field :coeficiente_prorrateo %>
          </td>
          <th>
            <%= f.label :superficie_unidad_funcional %>      
          </th>
          <td>
            <%= f.number_field :superficie_unidad_funcional %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :fecha_vigencia %>       
          </th>
          <td>
            <%= f.date_field :fecha_vigencia, order: [:day, :month, :year] %>
          </td>
          <th>
             <%= f.label :propiedad_origen_id %>      
          </th>
          <td>
            <%= f.number_field :propiedad_origen_id %>
          </td>          
        </tr>
        </table>
        </fieldset>
        <fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
        <legend class="ui-widget ui-widget-header ui-corner-all"> R.P.I </legend>
        <table>
         <tr>
          <th>
            <%= f.label :Tomo %>        
          </th>
          <td>
            <%= f.text_field :irp_tomo %>
          </td>
          <th>
            <%= f.label :Folio %>      
          </th>
          <td>
            <%= f.text_field :irp_folio_real %>/
          </td>
         
          <td>
            <%= f.text_field :irp_folio_uf %>
          </td>
          <th>
            <%= f.label :Finca %>      
          </th>
          <td>
            <%= f.number_field :irp_finca %>
          </td>
         <th>
            <%= f.label :Año %>      
          </th>
          <td>
            <%= f.number_field :irp_anio %>
          </td>
        </tr>
        </table>
        </fieldset>
        <fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
        <legend class="ui-widget ui-widget-header ui-corner-all"> Parcela </legend>
        <table>
         <tr>
          <th>
            Sup. Catastro        
          </th>
          <td>
            <%= number_field_tag :superficie_catastro, propiedad.parcela.try(:superficie_catastro) %>
          </td>
          <th>
            Sup. Mensura      
          </th>
          <td>
            <%= number_field_tag :superficie_mensura, propiedad.parcela.try(:superficie_mensura) %>
          </td>
        </tr>
        </table>
        </fieldset>
        <fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
        <legend class="ui-widget ui-widget-header ui-corner-all"> Mensura </legend>
        <table>
         <tr>
          <th style="text-align: left;">
            Mensura N°:        
          </th>
          <td>
            <%= number_field_tag :mensura_nro, propiedad.parcela.try(:mensura).try(:mensura_nro) %>
          </td>
          <th>
            Letra:      
          </th>
          <td>
            <%= text_field_tag :mensura_letra, propiedad.parcela.try(:mensura).try(:mensura_letra) %>
            <%= hidden_field_tag :mensura_id, nil %>
            <%= link_to image_tag("zoom.png", alt: 'Busqueda'), busqueda_mensuras_path, class: 'fancybox-min' %>
            <%= link_to image_tag("history.png", alt: 'Busqueda'), mensuras_propiedad_path(propiedad), class: 'fancybox-min' %>
                        
          </td>
          <tr>
          </tr>
            <td>&nbsp;</td>
          <tr>  
            <th>
              Ultima Mensura:
            </th>
            <td>
              <%= propiedad.parcela.try(:mensuras).try(:last).try(:mensura_nro) %> - <%= propiedad.parcela.try(:mensuras).try(:last).try(:mensura_letra) %>
            </td>
          </tr>
        </tr>
        </table>
        </fieldset>
         

    <div class="actions", style="text-align: center">
      <%= f.submit "Guardar", class: "submit ui-button ui-widget ui-state-default ui-corner-all" %>
    </div>
    </tbody>
  </table>
</fieldset>
<% end %>

<script type="text/javascript">
  $(document).ready(function () {
    $('.fancybox-min').fancybox();

  })
  </script>