<%= form_for(propiedad) do |f| %>
  <% if propiedad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(propiedad.errors.count, "error") %> prohibited this propiedad from being saved:</h2>

      <ul>
      <% propiedad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
  <table id="form-horizontal">
    <tbody>
      <legend class="ui-widget ui-widget-header ui-corner-all"> Propiedad </legend>
      <table>
        <tr>
          <th>
            <%= f.label :zona_id %>      
          </th>
          <td>
            <%= f.number_field :zona_id %>
          </td>
          <th>
            <%= f.label :jurisdiccion_id %>      
          </th>
          <td>  
            <%= f.number_field :jurisdiccion_id %>
          </td>
          <th>
            <%= f.label :localidad_id %>      
          </th>
          <td>  
            <%= f.number_field :localidad_id %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :tipo_propiedad_id %>      
          </th>
          <td>
            <%= f.number_field :tipo_propiedad_id %>
          </td>
          <th>
            <%= f.label :agua_cte %>      
          </th>
          <td>  
            <%= f.check_box :agua_cte %>
          </td>
          <th>
            <%= f.label :cloaca %>      
          </th>
          <td>
            <%= f.check_box :cloaca %>
          </td>
        </tr>  
        <tr>
          <th>
            <%= f.label :piso %>      
          </th>
          <td>
            <%= f.text_field :piso %>
          </td>
          <th>
            <%= f.label :departamento %>      
          </th>
          <td>
            <%= f.text_field :departamento %>
          </td>
          <th>
            <%= f.label :cantidad_ocupantes %>      
          </th>
          <td>
            <%= f.number_field :cantidad_ocupantes %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :propiedad_block_id %>      
          </th>
          <td>
            <%= f.number_field :propiedad_block_id %>
          </td>
          <th>
            <%= f.label :coeficiente_prorrateo %>      
          </th>
          <td>
            <%= f.number_field :coeficiente_prorrateo %>
          </td>
          <th>
            <%= f.label :superficie_unidad_funcional %>      
          </th>
          <td>
            <%= f.number_field :superficie_unidad_funcional %>
          </td>
        </tr>
        <tr>
          <th>
            <%= f.label :fecha_vigencia %>       
          </th>
          <td>
            <%= f.date_select :fecha_vigencia %>
          </td>
          <th>
             <%= f.label :propiedad_origen_id %>      
          </th>
          <td>
            <%= f.number_field :propiedad_origen_id %>
          </td>          
        </tr>
        </table>
        </fieldset>
        <fieldset class="ui-widget ui-widget-content ui-corner-all" id="fconsulta">
        <legend class="ui-widget ui-widget-header ui-corner-all"> R.P.I </legend>
        <table>
         <tr>
          <th>
            <%= f.label :irp_tomo %>        
          </th>
          <td>
            <%= f.text_field :irp_tomo %>
          </td>
          <th>
            <%= f.label :irp_folio_real %>      
          </th>
          <td>
            <%= f.text_field :irp_folio_real %>/
          </td>
          <th>
            <%= f.label :irp_folio_uf %>      
          </th>
          <td>
            <%= f.text_field :irp_folio_uf %>
          </td>
          <th>
            <%= f.label :irp_finca %>      
          </th>
          <td>
            <%= f.number_field :irp_finca %>
          </td>
         <th>
            <%= f.label :irp_anio %>      
          </th>
          <td>
            <%= f.number_field :irp_anio %>
          </td>
        </tr>
        </table>
        </fieldset>


          <th>
            <%= f.label :partida %>
          </th>
          <td>
            <%= f.text_field :partida %>
          </td>
          <th>
            <%= f.label :propiedad_union_id %>
          </th>
          <td>  
            <%= f.number_field :propiedad_union_id %>
          </td>


    <div class="field">
      <%= f.label :fecha_aplicacion_decreto %>
      <%= f.date_select :fecha_aplicacion_decreto %>
    </div>

    <div class="field">
      <%= f.label :exp_nro %>
      <%= f.text_field :exp_nro %>
    </div>

    <div class="field">
      <%= f.label :exp_anio %>
      <%= f.number_field :exp_anio %>
    </div>

    <div class="field">
      <%= f.label :exp_letra %>
      <%= f.text_field :exp_letra %>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>
    </tbody>
  </table>
</fieldset>
<% end %>
