<fieldset class="ui-widget ui-widget-content ui-corner-all" >
<legend class="ui-widget ui-widget-header ui-corner-all">Propiedades</legend>
<p id="notice"><%= notice %></p>

<form>
  <table id="form-horizontal">
    <tbody>
      <tr>
        <td>
          <%= text_field_tag :partida,params[:partida], placeholder: "Buscar"%>&nbsp;&nbsp;
        </td>
        <td>
          <%= button_tag image_tag("zoom.png", alt: 'Busqueda') %>
          
        </td>
      </tr>          
    </tbody>
  </table>
</form>

<table class="listado" id="form-horizontal">
  <thead>
    <tr class="ui-widget-header listadoTitulo">
      <th>Partida</th>      
      <th>Localidad</th>
      <th>Jurisdiccion</th> 
      <th>Tomo</th>
      <th>Folio </th>
      <th>Año</th>       
      <th>Fecha vigencia</th>
      <th>Sup. Catastro</th>
      <th>Mensura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @propiedades.each do |propiedad| %>      
      <tr class="<%= cycle('par','impar') %>">
        <td><%= propiedad.partida %></td>        
        <td><%= propiedad.localidad.try(:descripcion) %></td>
        <td><%= propiedad.jurisdiccion.try(:descripcion) %></td>
        <td><%= propiedad.irp_tomo %></td>
        <td><%= propiedad.irp_folio_real %></td>
        <td><%= propiedad.irp_anio %></td> 
        <td><%= l propiedad.fecha_vigencia if propiedad.fecha_vigencia %></td>
        <td><%= propiedad.parcela.try(:superficie_catastro) %></td>
        <td><%= propiedad.parcela.try(:mensuras).try(:last).try(:mensura_nro) %> - <%= propiedad.parcela.try(:mensuras).try(:last).try(:mensura_letra) %></td>
        <td><%= link_to image_tag("zoom.png"), propiedad %></td>
        <td><%= link_to image_tag("edit.png"), edit_propiedad_path(propiedad) %></td>
        <td><%= link_to image_tag("delete.png"), propiedad, method: :delete, data: { confirm: 'Seguro que desea eliminar esta propiedad?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</fieldset>
<br>


  <%= will_paginate @propiedades%><br>
  <%= link_to 'Nueva Propiedad', new_propiedad_path, class: "submit ui-button ui-widget ui-state-default ui-corner-all" %>

