<h1><%= @propiedad.partida %></h1>
<fieldset class="ui-widget ui-widget-content ui-corner-all" >  
<legend class="ui-widget ui-widget-header ui-corner-all">Propiedades</legend>
<p id="notice"><%= notice %></p>
<table>
 <tbody>
  <tr>
    <th>Zona:</th>
    <td><%= @propiedad.zona_id %></td>
    <th>Localidad:</th>
    <td><%= @propiedad.localidad.try(:descripcion) if @propiedad.localidad_id %></td>
    <th>Jurisdicción:</th>
    <td><%= @propiedad.jurisdiccion.try(:descripcion) if @propiedad.jurisdiccion_id %></td>
    <th>Fecha Vigencia:</th>
    <td><%= l @propiedad.fecha_vigencia %></td>
  </tr>
</tbody>
</table>
</fieldset>
<fieldset class="ui-widget ui-widget-content ui-corner-all" > 
<legend class="ui-widget ui-widget-header ui-corner-all">R.P.I.</legend>
<table>
<tbody>  
  <tr>
    <th>Tomo:</th>
    <td><%= @propiedad.irp_tomo %></td>
    <th>Folio N°:</th>
    <td><%= @propiedad.irp_folio_real %></td>
    <th>Año:</th>
    <td><%= @propiedad.irp_anio %></td>
    </tr>
</tbody>
</table>
</fieldset>
<fieldset class="ui-widget ui-widget-content ui-corner-all" > 
<legend class="ui-widget ui-widget-header ui-corner-all">Parcela</legend>
<table>
<tbody>  
  <tr>
    <th>Sup. Catastro:</th>
    <td><%= @propiedad.parcela.try(:superficie_catastro) %></td>
    <th>Sup. Mensura</th>
    <td><%= @propiedad.parcela.try(:superficie_mensura) %></td>
  </tr> 
</tbody>
</table>
</fieldset>
<fieldset class="ui-widget ui-widget-content ui-corner-all" > 
<legend class="ui-widget ui-widget-header ui-corner-all">Mensura</legend>
<table>
<tbody>  
  <tr>
    <th>Mensura:</th>
    <td><%= @propiedad.parcela.try(:mensuras).try(:last).try(:mensura_nro) %> - <%= @propiedad.parcela.try(:mensuras).try(:last).try(:mensura_letra) %></td>    
  </tr>
 
</tbody>
</table> 
</fieldset>
<br><br>
<div>
     <%= link_to image_tag("edit"), edit_propiedad_path(@propiedad) %> |
     <%= link_to image_tag("back"), propiedades_path %>
  </div>

