<fieldset class="ui-widget ui-widget-content ui-corner-all" >
<legend class="ui-widget ui-widget-header ui-corner-all">Agrimensor Actuante</legend>

<p id="notice"><%= notice %></p>

<table class="listado" id="form-horizontal">
  <thead>
    <tr class="ui-widget-header listadoTitulo">
      <th>Apellido y Nombre</th>
      <th>Tipo Documento</th>
      <th>Número</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iniciadores.each do |iniciador| %>
      <tr class="<%= cycle('par','impar') %>">
        <td><%= iniciador.razon_social %></td>
        <td><%= iniciador.tipo_documento.try(:descripcion_corta) %></td>
        <td><%= iniciador.matricula %></td>
        <td><%= link_to image_tag("zoom.png"), iniciador %></td>
        <td><%= link_to image_tag("edit.png"), edit_iniciador_path(iniciador) %></td>
        <td><%= link_to image_tag("delete.png"), iniciador, method: :delete, data: { confirm: 'Seguro desea eliminar iniciador?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @iniciadores%><br>
<%= link_to 'Nuevo Iniciador', new_iniciador_path, class: "submit ui-button ui-widget ui-state-default ui-corner-all" %>
